{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenue sur le Dashboard Admin</h1>
    <p>Gérez les utilisateurs, tournois, matchs et équipes ici.</p>
{% endblock %}
